In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
data = pd.read_csv('data_preprocessing_1.csv')

In [3]:
data.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,FLC,CSTMR_CNT,AMT,CNT,Holiday,region_diff2,AGE
0,201901,강원,강릉시,건강보조식품 소매업,1,1,4,311200,4,9,0,20
1,201901,강원,강릉시,건강보조식품 소매업,1,2,7,1374500,8,9,0,30
2,201901,강원,강릉시,건강보조식품 소매업,2,2,6,818700,6,9,0,30
3,201901,강원,강릉시,건강보조식품 소매업,1,3,4,1717000,5,9,0,40
4,201901,강원,강릉시,건강보조식품 소매업,1,4,3,1047300,3,9,0,40

In [4]:
### Holiday 삭제
data.drop('Holiday', axis = 1, inplace = True)
data.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,FLC,CSTMR_CNT,AMT,CNT,region_diff2,AGE
0,201901,강원,강릉시,건강보조식품 소매업,1,1,4,311200,4,0,20
1,201901,강원,강릉시,건강보조식품 소매업,1,2,7,1374500,8,0,30
2,201901,강원,강릉시,건강보조식품 소매업,2,2,6,818700,6,0,30
3,201901,강원,강릉시,건강보조식품 소매업,1,3,4,1717000,5,0,40
4,201901,강원,강릉시,건강보조식품 소매업,1,4,3,1047300,3,0,40

In [5]:
# 년, 월 쪼개는 함수
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [6]:
# 세종시 해결  (CARD_CCG_NM 값이 nan이다)

data_sj =data[data['CARD_SIDO_NM']=='세종']
data_sj.fillna('세종시',inplace=True)



# 년,월 쪼개기
data_sj['year'] = data_sj['REG_YYMM'].apply(lambda x: grap_year(x))
data_sj['month'] = data_sj['REG_YYMM'].apply(lambda x: grap_month(x))
data_sj = data_sj.drop(['REG_YYMM'], axis=1)
data_sj.head()


# 세종시 데이터프레임 정리
columns = ['year', 'month', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'SEX', 'region_diff2',
       'AGE', 'CSTMR_CNT', 'CNT', 'AMT']


data_sj = data_sj[columns]
data_sj.head()

data_sj

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,CNT,AMT
1243710,2019,1,세종,세종시,건강보조식품 소매업,1,1,30,14,17,2737050
1243711,2019,1,세종,세종시,건강보조식품 소매업,2,1,30,14,14,2595350
1243712,2019,1,세종,세종시,건강보조식품 소매업,1,1,40,13,11,2531950
1243713,2019,1,세종,세종시,건강보조식품 소매업,2,1,40,11,12,2118425
1243714,2019,1,세종,세종시,건강보조식품 소매업,1,1,50,21,23,3025500
...,...,...,...,...,...,...,...,...,...,...,...
24409418,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,40,5,5,88700
24409419,2020,3,세종,세종시,화장품 및 방향제 소매업,1,2,50,3,3,62400
24409420,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,50,10,11,494800
24409421,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,60,10,10,623100
24409422,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,70,3,3,28000

In [7]:
data_sj = data_sj.groupby(['year','month', 'CARD_SIDO_NM', 'CARD_CCG_NM',  'STD_CLSS_NM', 'SEX', 'region_diff2', 'AGE']).sum()
data_sj = data_sj.reset_index(drop = False)
data_sj

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,CNT,AMT
0,2019,1,세종,세종시,건강보조식품 소매업,1,1,30,14,17,2737050
1,2019,1,세종,세종시,건강보조식품 소매업,1,1,40,13,11,2531950
2,2019,1,세종,세종시,건강보조식품 소매업,1,1,50,21,23,3025500
3,2019,1,세종,세종시,건강보조식품 소매업,1,1,60,4,4,1519000
4,2019,1,세종,세종시,건강보조식품 소매업,1,1,70,6,8,1106000
...,...,...,...,...,...,...,...,...,...,...,...
8462,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,30,41,46,1253200
8463,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,40,48,55,1323300
8464,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,50,53,60,2009000
8465,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,60,25,32,1241400
8466,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,70,12,23,860300

In [8]:
# REG_YYMM -> year, month
data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data = data.drop(['REG_YYMM'], axis=1)
data.head()

,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,FLC,CSTMR_CNT,AMT,CNT,region_diff2,AGE,year,month
0,강원,강릉시,건강보조식품 소매업,1,1,4,311200,4,0,20,2019,1
1,강원,강릉시,건강보조식품 소매업,1,2,7,1374500,8,0,30,2019,1
2,강원,강릉시,건강보조식품 소매업,2,2,6,818700,6,0,30,2019,1
3,강원,강릉시,건강보조식품 소매업,1,3,4,1717000,5,0,40,2019,1
4,강원,강릉시,건강보조식품 소매업,1,4,3,1047300,3,0,40,2019,1

In [9]:
# target인 AMT을 가장 뒤로
columns = ['year', 'month', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'SEX', 'region_diff2',
       'AGE', 'CSTMR_CNT', 'CNT', 'AMT']

data_final1 = data[columns]
data_final1.head()

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,CNT,AMT
0,2019,1,강원,강릉시,건강보조식품 소매업,1,0,20,4,4,311200
1,2019,1,강원,강릉시,건강보조식품 소매업,1,0,30,7,8,1374500
2,2019,1,강원,강릉시,건강보조식품 소매업,2,0,30,6,6,818700
3,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,4,5,1717000
4,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,3,3,1047300

In [ ]:
data_final1[data_final1['CARD_SIDO_NM']=='세종']

In [11]:
# 모든 카테고리를 기준으로 groupby & FLC 제외

df_groupby = data.groupby(['year','month', 'CARD_SIDO_NM', 'CARD_CCG_NM',  'STD_CLSS_NM', 'SEX', 'region_diff2', 'AGE']).sum().iloc[:, 1:]
df_groupby = df_groupby.reset_index(drop = False)
df_groupby.head()

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,AMT,CNT
0,2019,1,강원,강릉시,건강보조식품 소매업,1,0,20,4,311200,4
1,2019,1,강원,강릉시,건강보조식품 소매업,1,0,30,7,1374500,8
2,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,7,2764300,8
3,2019,1,강원,강릉시,건강보조식품 소매업,1,0,50,21,3690830,21
4,2019,1,강원,강릉시,건강보조식품 소매업,1,0,60,19,1433500,20

In [13]:
df_groupby[df_groupby['CARD_SIDO_NM']=='세종']

Empty DataFrame
Columns: [year, month, CARD_SIDO_NM, CARD_CCG_NM, STD_CLSS_NM, SEX, region_diff2, AGE, CSTMR_CNT, AMT, CNT]
Index: []

In [22]:
final_data = pd.concat([df_groupby,data_sj])

In [23]:
final_data

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,AMT,CNT
0,2019,1,강원,강릉시,건강보조식품 소매업,1,0,20,4,311200,4
1,2019,1,강원,강릉시,건강보조식품 소매업,1,0,30,7,1374500,8
2,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,7,2764300,8
3,2019,1,강원,강릉시,건강보조식품 소매업,1,0,50,21,3690830,21
4,2019,1,강원,강릉시,건강보조식품 소매업,1,0,60,19,1433500,20
...,...,...,...,...,...,...,...,...,...,...,...
8462,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,30,41,1253200,46
8463,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,40,48,1323300,55
8464,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,50,53,2009000,60
8465,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,60,25,1241400,32
8466,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,70,12,860300,23

## 세종시를 따로 안빼고 전체에서 세종시 결측치 채우기

In [33]:
data1 = data.fillna('세종시')
data1

,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,FLC,CSTMR_CNT,AMT,CNT,region_diff2,AGE,year,month
0,강원,강릉시,건강보조식품 소매업,1,1,4,311200,4,0,20,2019,1
1,강원,강릉시,건강보조식품 소매업,1,2,7,1374500,8,0,30,2019,1
2,강원,강릉시,건강보조식품 소매업,2,2,6,818700,6,0,30,2019,1
3,강원,강릉시,건강보조식품 소매업,1,3,4,1717000,5,0,40,2019,1
4,강원,강릉시,건강보조식품 소매업,1,4,3,1047300,3,0,40,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,충북,충주시,휴양콘도 운영업,1,2,3,43300,4,0,30,2020,3
24697788,충북,충주시,휴양콘도 운영업,1,3,3,35000,3,0,40,2020,3
24697789,충북,충주시,휴양콘도 운영업,1,4,4,188000,6,0,50,2020,3
24697790,충북,충주시,휴양콘도 운영업,2,4,4,99000,6,0,50,2020,3
24697791,충북,충주시,휴양콘도 운영업,1,5,3,194000,3,0,60,2020,3

In [34]:
data1[data1['CARD_SIDO_NM']=='세종']

,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,FLC,CSTMR_CNT,AMT,CNT,region_diff2,AGE,year,month
1243710,세종,세종시,건강보조식품 소매업,1,2,14,2737050,17,1,30,2019,1
1243711,세종,세종시,건강보조식품 소매업,2,2,14,2595350,14,1,30,2019,1
1243712,세종,세종시,건강보조식품 소매업,1,3,13,2531950,11,1,40,2019,1
1243713,세종,세종시,건강보조식품 소매업,2,3,11,2118425,12,1,40,2019,1
1243714,세종,세종시,건강보조식품 소매업,1,4,21,3025500,23,1,50,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...
24409418,세종,세종시,화장품 및 방향제 소매업,2,3,5,88700,5,2,40,2020,3
24409419,세종,세종시,화장품 및 방향제 소매업,1,4,3,62400,3,2,50,2020,3
24409420,세종,세종시,화장품 및 방향제 소매업,2,4,10,494800,11,2,50,2020,3
24409421,세종,세종시,화장품 및 방향제 소매업,2,5,10,623100,10,2,60,2020,3
24409422,세종,세종시,화장품 및 방향제 소매업,2,5,3,28000,3,2,70,2020,3

In [35]:
columns = ['year', 'month', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'SEX', 'region_diff2',
       'AGE', 'CSTMR_CNT', 'CNT', 'AMT']

data_final1 = data1[columns]
data_final1.head()

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,CNT,AMT
0,2019,1,강원,강릉시,건강보조식품 소매업,1,0,20,4,4,311200
1,2019,1,강원,강릉시,건강보조식품 소매업,1,0,30,7,8,1374500
2,2019,1,강원,강릉시,건강보조식품 소매업,2,0,30,6,6,818700
3,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,4,5,1717000
4,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,3,3,1047300

In [37]:
# 모든 카테고리를 기준으로 groupby & FLC 제외

data2 = data_final1.groupby(['year','month', 'CARD_SIDO_NM', 'CARD_CCG_NM',  'STD_CLSS_NM', 'SEX', 'region_diff2', 'AGE']).sum()
data2 = data2.reset_index(drop = False)
data2.head()

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,CNT,AMT
0,2019,1,강원,강릉시,건강보조식품 소매업,1,0,20,4,4,311200
1,2019,1,강원,강릉시,건강보조식품 소매업,1,0,30,7,8,1374500
2,2019,1,강원,강릉시,건강보조식품 소매업,1,0,40,7,8,2764300
3,2019,1,강원,강릉시,건강보조식품 소매업,1,0,50,21,21,3690830
4,2019,1,강원,강릉시,건강보조식품 소매업,1,0,60,19,20,1433500

In [38]:
data2[data2['CARD_SIDO_NM']=='세종']

,year,month,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,SEX,region_diff2,AGE,CSTMR_CNT,CNT,AMT
123675,2019,1,세종,세종시,건강보조식품 소매업,1,1,30,14,17,2737050
123676,2019,1,세종,세종시,건강보조식품 소매업,1,1,40,13,11,2531950
123677,2019,1,세종,세종시,건강보조식품 소매업,1,1,50,21,23,3025500
123678,2019,1,세종,세종시,건강보조식품 소매업,1,1,60,4,4,1519000
123679,2019,1,세종,세종시,건강보조식품 소매업,1,1,70,6,8,1106000
...,...,...,...,...,...,...,...,...,...,...,...
2640186,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,30,41,46,1253200
2640187,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,40,48,55,1323300
2640188,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,50,53,60,2009000
2640189,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,60,25,32,1241400
2640190,2020,3,세종,세종시,화장품 및 방향제 소매업,2,2,70,12,23,860300

### 저장

In [39]:
data2.to_csv('data_preprocessing_3.csv',encoding = 'utf-8-sig', index = False)